{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">This is a Public Limited Company that Deals with Milk Related Products  Base in Kenya Africa.<br>It was commisioned in 2017<br>It's the Fastest Growing Company in Kenya.</p>
    </div>

    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">To Provide Quality Milk Products to the People of Kenya and Beyond.
            To be the Leading Company in the Milk Industry in Kenya and Africa at Large.
        To Provide Employment Opportunities to the People of Kenya.</p>
    </div>
</div>
{% endblock main-content %}