{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img src="{{product.product_image.url}}" class="image col-xs-5 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" alt="product">
            </div>
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>
                <h6 style="font-family: Georgia; font-size: 30px;">Rs.{{product.discounted_price}}/-</h6>
                <small class="text-decoration-line-through text-muted fs-5"><del>Rs.{{product.selling_price}}/-
                </del></small>
                <br><br><h4>Product Features</h4>
                <h6 style="font-family: Georgia; font-size: 20px;">{{product.description}}</h6>
            </div>
        </div>
    </div>
{% endblock main-content %}